server:
  port: 6661

spring:
  redis:
    # Redis 数据库索引
    database: 0
    #     Redis 服务器地址
    host: 127.0.0.1
#    host: 192.168.35.128
    #     Redis 服务器端口
    port: 6379
    # Redis 服务器连接密码
#    password: 123456
    # 连接池设置
    pool:
      # 最大连接数量 -1无限制
      max-active: 8
      # 最大阻塞等待时间 -1无限制
      max-wait: -1
      # 最大空闲连接
      max-idle: 8
      # 最小空闲连接
      min-idle: 0
    # 连接超时时间
    timeout: 1000

lz:
  security:
    # [非必需] 是否打印日志信息(默认true)
    console-log-print: true
    # Token相关配置
    token-config:
      # [非必需] Token存放标识(默认Authorization)
      name: Authorization
      # [非必需] 类型(默认UUID)(UUID、JWT)(可通过重写IAccessTokenHandler.class来实现自定义token类型,重写后此项将无效)
      #type: JWT
      # [非必需] 过期时间(秒)(默认3600秒)
      timeout: 3600
    # 加解密相关配置
    encrypt-config:
      # [非必需] 是否加解密(默认false)
      encrypt: false
      # [未重写请求加解密处理器时该项为必需] 公钥
      pub-key: MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCFi9vYzmI+ktpZsv7VTKOEHrNqpRSm5QaA0EHYv72G72ehgTKNuHw0CDskASCJ85gKMzy5uANX+6Q4gz9uAE/1duH3Oc9zxLiyr4iptrZj4v667kW5VcXXdho4shP6LOX+8KaW0ddG6Rt9BX8qUjM8J+7yVjo4EJzJ3Pri0TvvZwIDAQAB
      # [未重写请求加解密处理器时该项为必需] 私钥
      pri-key: MIICdQIBADANBgkqhkiG9w0BAQEFAASCAl8wggJbAgEAAoGBAIWL29jOYj6S2lmy/tVMo4Qes2qlFKblBoDQQdi/vYbvZ6GBMo24fDQIOyQBIInzmAozPLm4A1f7pDiDP24AT/V24fc5z3PEuLKviKm2tmPi/rruRblVxdd2GjiyE/os5f7wppbR10bpG30FfypSMzwn7vJWOjgQnMnc+uLRO+9nAgMBAAECgYAzY61W0ZxmndYePE3pwJMPrUy3Vg0LaAhHm1wrTyVcflWvhWrxtDM/RoeThEeELlOsYSkWAmRu/+uiv4ayCra5mpi0fKwgZflI4nQILgluyAMBASURxpoq+G1bJ7XvhXTy1Vygi2WiQU/1ucNFTHJmmHN5bx/hPi8gwQ/BaI1ZcQJBAN7ouKS4M07JReKoi4yzBreJpNB0nke78+oo4v7P8R55ZrSaNNyja7TeRhdHdSRjJOwEz6jwfs0jai1R3bzhHn8CQQCZXw8U6C432r+qi50kqt5jcVcpvluB4h8L1TNByTR6id4Ph/5GJTtqoFwYsJNzJdOJu2asQnEO7apGPHMFz4sZAkB6ISHBRhb+bLJ4jAXhcdkVSDnf6HUsMmNigUJVgBLIspU+EFs0I+mIMFxQttsMs7FwCvbHxfSDaorrB7aonOL7AkAzXZfSe7RG9pcsihe2GRfkHCiCDYPeKxoUv3GsPbO6uoPJldU+LugIXO6bQkAP14JSZZYMaTAuPMDDRymKr6i5AkBLJHn3vx+O8cbJ+LoXTCaMz/kWmqsHoQPOoCynKAjQLXBN7u9f3inL+RF2hjmGyIWjoXkFKeFMpRv/nKyxfq7I
